<!-- extend base layout -->
{% extends "index.html" %}

{% block content %}
    <br>
    <div style="margin-left: 20px; margin-right: 20px;text-align: right;">
        <blockquote>
        <p><em>
        <right>
            "L'informazione è potere. Ma, come per ogni tipo di potere, c'è chi vorrebbe tenerla per sé. L'intera eredità scientifica e culturale del mondo, pubblicata nel corso dei secoli in libri e riviste, è sempre più digitalizzata e resa inaccessibile da parte di una manciata di società private. Vuoi leggere i documenti che contengono le più famose scoperte scientifiche? Devi pagare un prezzo enorme agli editori."</em>
            <br>- Aaron <b>Swartz</b>
        </p>
        </right>
    </div>
    <br>

    <div style="margin-left: 20px; margin-right: 20px;text-align: left;">
        <left>
        <h2>Robespierre</h2>
        <b>Robespierre</b> è un portale che prende il nome dell'omonimo rivoluzionario francese, il suo obiettivo? Aderire al movimento free culture.<br>
        <b>free culture</b> <i>(frìi kḁlčë)</i> locuz. sost. ingl., usata in it. al femm. – Locuzione inglese che indica un orientamento culturale e sociale tendente a realizzare e difendere l'assoluta libertà di accesso alla conoscenza. Ha preso avvio con freeculture.org, organizzazione internazionale di studenti nata con l’obiettivo di diffondere la cultura dell’accesso alle informazioni e della partecipazione alla loro gestione aperta. 
        <br>
        Da <i>Treccani</i>.
        <br><br>
        <h2>Clear Web, Deep Web e Dark Web</h2>
        Contrariamente a quanto si possa pensare è bene fare una chiara e netta distinsione tra: <b>clear web</b>, <b>deep web</b> e, infine, <b>dark web</b>.<br>
        Viene comunemente definito come <b>clear web</b> tutto quel lato di internet che è liberamente accessibile, qualsiasi contenuto sia consultabile senza autenticazione o sia indicizzabile da un motore di ricerca rientra in questa categoria. Per esempio: il contenuto della vostra casella e-mail, un forum che richiede l'accesso solo tramite la creazione di un account o i vostri stessi account sui social (salvo permessi <i>libertini</i>) sono classificabili come <b>deep web</b> (<i>web profondo</i>) perché il loro contenuto non è facilmente e liberamente accessibile da chiunque. Questa parte rappresenta la quasi totalità del web motivo per cui, spesso, si crede che il <b>dark web</b> sia così immenso, ovvero perché confuso con il <b>deep web</b>.
        <br>
        Il <b>dark web</b> è tutto quel lato di internet accessibile attraverso <i>particolari strumenti</i>, ovvero qualsiasi cosa non sia, facilmente, accessibile previo l'utilizzo di determinati software. Fanno parte di questa categoria tutti i contenuti web la cui consultazione è vincolata da un dato protocollo <i>risolvibile</i> solo mediante l'utilizzo di un software, ne sono un esempio l'intera rete onion o la rete p2p ZeroNet. 
        <br>
        È bene precisare che <b>accedere</b> al <b>dark web NON È ILLEGALE</b>, a seconda della vostra giurisdizione <b>potrebbero</b> contenere materiale illegale come molti altri siti web ugualmente accessibili sul <b>clear web</b>.
        </left>
    </div>
    
{% endblock %}
